
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# Luban Generated
#//////////////////////////
assets/Scripts/Data/schema/
assets/resources/LubanData/

#//////////////////////////
# CodeBuddy
#//////////////////////////
.codebuddy/