<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_0.00s_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0.10s_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{0,108},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0.20s_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{108,0},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0.30s_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{108,108},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0.40s_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{216,0},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0.50s_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{432,0},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0.60s_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{432,108},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0.70s_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{538,0},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0.80s_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{538,108},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0.90s_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{216,108},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_1.00s_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{324,0},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_1.10s_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{324,108},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DefaultPlayerS-1.png</string>
            <key>size</key>
            <string>{644,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b07b0e615be588f2a5740ea734aa8fea:8e6fda9e8c0b7b326c0ce1f7bfd0b428:11005f3765fff4e3234042f8d6e75b50$</string>
            <key>textureFileName</key>
            <string>DefaultPlayerS-1.png</string>
        </dict>
    </dict>
</plist>
