<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DefaultPlayerN0_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,103}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{0,0},{86,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DefaultPlayerN10_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{86,101}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{258,103},{86,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DefaultPlayerN11_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{86,101}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{344,103},{86,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DefaultPlayerN12_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,103}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{172,0},{86,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DefaultPlayerN13_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,103}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{258,0},{86,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DefaultPlayerN14_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,103}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{344,0},{86,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DefaultPlayerN15_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,103}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{430,0},{86,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DefaultPlayerN1_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,103}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{86,0},{86,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DefaultPlayerN2_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{86,101}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{0,103},{86,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DefaultPlayerN3_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{86,101}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{86,103},{86,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DefaultPlayerN4_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{86,101}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{172,103},{86,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DefaultPlayerN5_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{86,99}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{514,103},{86,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DefaultPlayerN6_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{86,99}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{600,0},{86,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DefaultPlayerN7_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{86,99}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{600,99},{86,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DefaultPlayerN8_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{84,99}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{516,0},{84,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DefaultPlayerN9_resized.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{84,101}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{430,103},{84,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DefaultPlayerN-1.png</string>
            <key>size</key>
            <string>{686,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e7ea55ef530b41b17e1bdd06561280b:f725efa5d98c206b1d467c18cb60139b:fea655aef0ddf4229c6c2e86970fbab6$</string>
            <key>textureFileName</key>
            <string>DefaultPlayerN-1.png</string>
        </dict>
    </dict>
</plist>
